@use "../../styles/variables" as *;

.avatar {
  margin-bottom: $spacing-sm;
  position: relative;
  display: flex;
  width: 90px;

  .avatarCircle {
    aspect-ratio: 1 / 1;
    background-color: $color-secondary;
    border-radius: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: $color-accent 1px solid;

    .imgFallback {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: $color-500;
      img {
        object-fit: cover;
      }
    }

    .initials {
      font-size: 30px;
      color: $color-white;
      font-weight: 200;
      line-height: 1;
      margin-top: $spacing-sm;
    }
  }

  .onlineStatus {
    position: absolute;
    width: 16px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: $color-green;
    right: 6px;
    bottom: 6px;
    border: $color-accent 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;

    &.statusIsOffline {
      background-color: $color-500;
    }

    .offlineSymbol {
      font-size: 10px;
      line-height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-300;
    }
  }
}
