// ==== FONT ====
$font-primary: "Nohemi", sans-serif;

// ==== COLOURS ====
$color-primary: #f8320b; // orange-red
$color-secondary: #0065ff; // electric blue
$color-accent: #dccb09; // mustard yellow
$color-black: #0a0a0a;
$color-800: #3d3d39;
$color-300: #f9f9f4;
$color-white: #fafaf6;

// ==== SPACING ====
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;
$spacing-2xl: 128px;

// ==== BORDER-RADIUS ====
$radius: 20px;
$shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
