@use "./styles/variables" as *;

.container {
  padding: $spacing-xl;
  background-color: $color-primary;

  h1 {
    color: $color-black;
    font-weight: 900;
    font-size: 60px;
  }

  .subHeading {
    font-size: 20px;
    margin-bottom: $spacing-md;
  }

  .componentName {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $spacing-md;
  }
}
