@use "../../styles/variables" as *;

.profileCard {
  padding: $spacing-lg;
  background-color: $color-white;
  border-radius: $radius;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  height: 100%;

  .name {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 0.25em;

    .wordWrapper {
      overflow: hidden;
      display: inline-block;
      .word {
        display: inline-block;
      }
    }
  }

  .role {
    color: $color-800;
    font-size: 14px;
    margin-bottom: $spacing-sm;
  }

  .bio {
    font-size: 14px;
  }
}
