@use "../../styles/variables" as *;

.wrapper {
  // background-color: blue;
  position: relative;
  padding: $spacing-xl;
  gap: $spacing-md;
  display: flex;
  flex-direction: column;
  background-color: white;
  .overlay {
    width: $spacing-md;
    height: $spacing-md;
    background-color: white;
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
