@use "../../styles/variables" as *;

.wrapper {
  background-color: blue;
  position: relative;
  .overlay {
    width: $spacing-xl;
    height: $spacing-xl;
    background-color: $color-black;
    position: fixed;
  }
}
