@use "../../styles/variables" as *;

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #06030a;
  .heroContainer {
    position: relative;
    width: 100%;
    max-width: 1800px;
    height: 70vh;
    overflow: hidden;
    background-color: #06030a;

    .bgElement {
      position: absolute;

      &.folliage2 {
        object-fit: cover;
        background-color: blue;
        transform: scale(1.2);

        // Mobile
        @media (max-width: 768px) {
          transform: scale(1.7, 1.2);
          width: 100%;
        }
      }
    }
  }
}
